<main class="main-content">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table multiTemplateDataRows>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let user" mat-cell> {{ user.id }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell> First Name</th>
      <td *matCellDef="let user" mat-cell> {{ user.firstName }}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-header-cell> Last Name</th>
      <td *matCellDef="let user" mat-cell> {{ user.lastName }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th *matHeaderCellDef mat-header-cell> Username</th>
      <td *matCellDef="let user" mat-cell> {{ user.username }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell> Email</th>
      <td *matCellDef="let user" mat-cell> {{ user.email }}</td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell> Role</th>
      <td *matCellDef="let user" mat-cell> {{ user.role }}</td>
    </ng-container>

    <!-- Header Row -->
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

    <!-- Data Rows -->
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
</main>

