<nav class="sidebar" [class.open]="isOpen">
  <div class="sidebar-content">
    <ul class="menu-list">
      <li *ngFor="let item of menuItems" class="menu-item">
        <a href="#" class="menu-link" (click)="onItemClick()">
          <span class="menu-icon">{{ item.icon }}</span>
          <span class="menu-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Overlay for mobile -->
<div class="sidebar-overlay"
     [class.active]="isOpen"
     (click)="closeSidebar.emit()">
</div>
